---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout lang="es" routeKey="home" title="404">
  <section class="main-not-found container new-section"><h2>404</h2><p>Oh no! We are totally lost.</p><p><i class="far fa-times-circle"></i></p></section>
</BaseLayout>
